<h2>Animals</h2>

<div id="animal-wrapper">
  <% @animals.each do |animal| %>

  <div class="animals">
    <h3><a href="/animals/<%= animal.id %>"><%= animal.name.capitalize %></a></h3>

      <% if animal.adopted == 't'%>
        <h5>Adopted</h5>
      <% end %>
      <%if animal.ready_to_adopt == 't' && animal.adopted == 'f'%>
        <h5>Adoptable</h5>
      <% end %>
      <p>Admission Date: <%= animal.admission_date %></p>

  </div>
  <% end %>

</div>
<div>
  <h3><a href="/animals/new" >Add a new animal</a></h3>
</div>
<div>
  <h3><a href="/adoptions/new" >Animals for adoption</a></h3>
</div>
