<!DOCTYPE html>
<html>
<head>
  <title>Portobello Animal Shelter</title>

  <link rel="stylesheet" type="text/css" href="/styles/structure.css">

</head>
<body>
  <!-- <main class="flex flex--row"> -->
  <nav id="navigation">
    <li><a href='/'>Home</a></li>
    <li><a href='/animals'>Animals</a></li>
    <li><a href='/owners'>Owners</a></li>
    <li><a href='/adoptions/new'>Adoptable Animals</a></li>
  </nav>

  <section class="content">
  <%= yield %>
  </section>

  <div class="footer">
    email: animals@porty.com | tel: 0131 222 3454 | SCOTTISH CHARITY NUMBER: SC054321
  </div>
  </body>
</html>
