<!DOCTYPE html>
<html>
<head>
  <title>Portobello Animal Shelter</title>

</head>
<body>
  <nav id="menu">
    <li class="menu-item"><a href='/owners'>Owners</></li>
    <li class="menu-item"><a href='/animals'>Animals</></li>
  </nav>
  <%= yield %>
<!-- Add some kind of footer with name/tel: num/charitable status etc -->
  </body>
</html>
