body {
  background: aliceblue ;
  /* background-image: url('/images/dug_copy.jpg'); */
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
  font-family: 'Calibri', sans-serif;
  padding: 0px;
  margin: 0px;
}

#navigation {
  color: black;
    background-color: #5F9EA0;
    /* opacity: .85; */
    width: 100%;
    text-align: center;

}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#all_animals{
    font-family: 'Arial', sans-serif;
    width: 70%;
    border-collapse: collapse;
  }

  #all_owners{
      font-family: 'Arial', serif;
      width: 30%;
      border-collapse: collapse;
    }

  #adoptions{
        font-family: 'Arial', serif;
        width: 70%;
        border-collapse: collapse;
      }

  #all_animals td, #all_animals th, #adoptions th {
    padding: 8px;
  }

#all_animals th, #all_owners th, #adoptions th {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: left;
    background-color: #5F9EA0;
    color: white;
  }

  #all_animals td, #all_owners td, #adoptions td {
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #all_animals tr:hover {background-color: #dfebec;}
  #all_owners tr:hover {background-color: #dfebec;}

  a, a:link, a:visited {
    color: #2F4F4F;
    text-decoration: none;
  }

  a:hover, a:active, a:focus {
    color: #9400D3;
  }


  .content {
    border-left: 1px solid darkred;
    padding-left: 25px;
    margin-bottom: 1rem;
  }


  .footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: white;
    text-align: center;
  }
