<h2>Owners</h2>

<div>
  <table id="all_owners">
    <tr>
      <th>Name</th>
      <th>Animal Preference</th>
    </tr>

  <% @owners.each do |owner| %>
    <tr>
      <td><h4><a href="/owners/<%= owner.id %>">
                <%= owner.nice_name %></a></h4></td>
      <td><h5><a href="/owners/<%= owner.id %>">
                <%= owner.animal_preference.upcase%></a></h5></td>
    </tr>
  <% end %>
  </table>
</div>

<div>
  <h3><a href="/owners/new" >Add a New Owner</a></h3>
</div>
