<h2>New Owner Form</h2>

<form method="POST" action="/owners" >
  <div>
  <!-- Field for first_name -->
    <div>
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name"/>
    </div>
    <br>
    <!-- Field for a last_name -->
    <div>
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name"/>
    </div>
    <br>
    <!-- Field for address -->
    <div>
      <label for="address">Address:</label>
      <input type="text" name="address" id="address"/>
    </div>
    <br>
    <!-- Field for email -->
    <div>
      <label for="email_address">email address:</label>
      <input type="text" name="email_address" id="email_address"/>
    </div>
    <br>
    <!-- Field for animal preference - for now hard coded -->
    <div>
      <label for="animal_preference">Animal Preference:</label>
      <select name="animal_preference" id="animal_preference">
        <option value="1">cat</option>
        <option value="2">small dog</option>
        <option value="3">large dog</option>
        <option value="4">any dog</option>
        <option value="4">none</option>
      </select>
    </div>

    <div>
      <input type="submit" value="Submit"/>
    </div>

  </div/
</form>
