<!-- for showing the individual owner -->
<h2><%= @owner.nice_name %></h2>

<p>Address: <%= @owner.address %></p>
<p>email: <%= @owner.email_address %></p>
<p>Animal Preference: <%= @owner.animal_preference %></p>
